@import "tailwindcss";

/* globals.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Nota: Aquí tenías variables mezcladas (--font-sora), 
     asegúrate de que las estás usando o bórralas si solo usas IBM Plex */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Quitamos la referencia directa a la URL, 
     la fuente vendrá inyectada por Next.js */
  font-family: var(--font-ibm-plex), sans-serif; 
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* Estilo scroll para contenedor de imagen */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #EADCD6;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #BF8173;
  border-radius: 9999px;
  border: 2px solid #EADCD6;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #A76157;
}

/* {
  outline: 1px solid red;
} */
